/*
*{
    margin:0;
}



body{
    background-image: url(../Hawaii.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200vh;
}

header{
    background-color: #fff;
    color:aqua;
    font-size: 40px;
    height: 20vh;
    width: 100%;
    position:fixed;
    text-align: center;
    padding: 10px;
    
    
}
.prostokat1{
    background-color: #fff;
    color:aqua;
    font-size: 20px;
    height: 10vh;
    width: 100%;
    position:fixed;
    bottom: 0px;
    text-align: center;
    padding: 30px;
    
    
}*/

*{
    margin: 0;
}

.container{
     max-width: 1000px;
  margin: 0 auto;
}

section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 48px;
  line-height: 800px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


section.module.parallax-1 {
    background-image: url(../hawa.jpg);}


section.module{
    height: 150px;
    text-align: center;
    padding: 70px;
    font-size: 20px;
}

section.module.parallax-2 {
    background-image: url(../tropical.jpg);}

















